<form class="container" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="login-wrapper">
    <div class="card">
      <div class="image-block">
        <img src="//localhost:9003/img/logo.png" alt="">
      </div>
      <div class="card-body">
        <p *ngIf="msgType !== 'NONE'" class="alert" [ngClass]="msgType">
          {{message}}
        </p>
        <h5 class="fw-normal mb-3 pb-3">Please register for new account</h5>
        <div class="form-outline mb-4">
          <label class="form-label" for="fullName">Full Name</label>
          <input type="text" class="form-control form-control-lg" id="fullName" formControlName="fullName">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="userName">User Name</label>
          <input type="text" class="form-control form-control-lg" id="userName" formControlName="userName">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="emailId">Email ID</label>
          <input type="email" class="form-control form-control-lg" id="emailId" formControlName="emailId">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="mobileNumber">Mobile Number</label>
          <input type="phone" class="form-control form-control-lg" id="mobileNumber" formControlName="mobileNumber">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="photoUrl">Photo Url</label>
          <input type="url" class="form-control form-control-lg" id="photoUrl" formControlName="photoUrl">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="password">Password</label>
          <input type="password" class="form-control form-control-lg" id="password" formControlName="password">
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control form-control-lg" id="confirmPassword"
            formControlName="confirmPassword">
        </div>
        <div class="pt-1 mb-4">
          <button class="btn btn-dark btn-lg btn-block" type="Submit">Register</button>
        </div>
        <a class="small text-muted" href="#!">Forgot password?</a>
        <p class="mb-5 pb-lg-2 grey-text">Already registered?
          <a [routerLink]="['../signin']" routerLinkActive="active" class="grey-text">Login</a>
        </p>
      </div>
    </div>
  </div>
</form>
